* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color-green: #36a18b;

    --bg-color-pink: #f2e8e8;
    --bg-color-gray: #e9e9e9;
    --bg-color-green: #e8f2ee;
    --bg-color-wheat: #f2ece1;

    --text-color: #1B1B1B;
}

@font-face {
    font-family: 'N26 medium extended';
    src: url('assets/fonts/GT-America-Extended-Medium.latin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'N26 medium standard';
    src: url('assets/fonts/GT-America-Standard-Medium.latin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'N26 regular';
    src: url('assets/fonts/GT-America-Standard-Regular.latin.tff') format('tff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'N26 medium extended', Fallback, sans-serif;
}

html {
    font-size: 16px;
}

h1 {
    font-family: 'N26 medium standard', Fallback, sans-serif;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.2;
}

h2 {
    font-family: 'N26 medium standard', Fallback, sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.2;
}

p {
    font-family: 'N26 regular', Fallback, sans-serif;
    font-size: 1rem;
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    color: #1B1B1B;
    font-family: 'N26 regular', Fallback, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Patricia sections */
header {

    .jumbo-header {
        display: flex;
        flex-direction: column;
        justify-content:end;
        gap: 10px;
        height: 100vh;
        padding: 50px 20px;

        background-image: url(./assets/images/jumbo-header-big.webp);
        background-position: center;
        background-size: cover;

        box-shadow: rgba(0, 0, 0, 0.35) 0px -200px 360px -28px inset;

        @media (max-width: 768px) {
            width: 100%;
            background-image: url(./assets/images/jumbo-header.webp);
        }
        
        h1, p {
            color: white;
        };

        .buttons {
            display: flex;
            width: fit-content;

            :last-child {
                background-color: var(--main-color-green);
                color: white;
                padding: 12px 22px;
                border-radius: 10px;
            }
        }
    }
}

.the-free-bank-account {
    
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: fit-content;
    background-color: var(--bg-color-gray);
    padding: 50px 50px;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 20px;
    }

    .the-free-bank-account-text-container {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        gap: 20px;

        padding: 50px 10px;
        width: 50%;

        a {
            font-size: 0.8em;
        }
        @media (max-width: 768px) {
            padding: 50px 0;
            width: 100%;
        }

    }

    img {
       max-height: 400px;
       max-width: 50%;

       @media (max-width: 768px) {
        height: 300px;
        width: 380px;
        max-width: none;
    }
       
    }
}


/* Marcs sections */
.openN26Account {
    background-color: var(--bg-color-green);
    color: var(--text-color);
    text-align: center;
    padding: 40px 0;

    .images {
        position: relative;
        height: 400px;

        img {
            position: absolute;
            top: 60%;
            width: 280px;
            transform: translate(-50%, -50%);
            rotate: 18deg;

            @media (max-width: 768px) {
                transform: unset;
                rotate: unset;
            }
        }

        .left {
            left: 40%;

            @media (max-width: 768px) {
                left: 60%;
                transform: translate(-50%, -50%) rotate(100deg);
                rotate: unset;
            }
        }

        .center {
            left: 50%;
            z-index: 3;

            @media (max-width: 768px) {
                transform: translate(-50%, -50%) rotate(90deg);
                rotate: unset;
            }
        }

        .right {
            left: 60%;

            @media (max-width: 768px) {
                left: 40%;
                transform: translate(-50%, -50%) rotate(80deg);
                rotate: unset;
            }
        }

        @media (max-width: 768px) {
            .left {}

            .center {}

            .right {}
        }
    }


    .innerText {
        display: flex;
        flex-direction: column;
        gap: 20px;

        p {
            font-size: 1.2rem;
        }
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        @media (max-width: 768px) {
            flex-direction: column;
        }

        :last-child {
            background-color: #36a18b;
            color: white;
            padding: 18px 22px;
            border-radius: 10px;
        }
    }
}

.contract {
    padding: 65px 20px;
}

.faq {
    margin-bottom: 40px;

    details>summary {
        list-style: none;
    }

    details>summary::-webkit-details-marker {
        display: none;
    }

    details {
        padding: 20px 0;
        border-top: 1px solid var(--bg-color-gray);

        summary {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            user-select: none;

            span svg path {
                fill: var(--main-color-green);
            }
        }

        p {
            background-color: var(--bg-color-gray);
            margin-top: 20px;
            padding: 20px;
        }
    }

    details[open] {
        span svg {
            rotate: 90deg;
        }

    }
}

.blogs {
    background-color: var(--bg-color-gray);
    padding: 40px 0;

    h2 {
        padding-bottom: 10px;
    }

    .innerBlogs {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        overflow: auto;

        article {
            width: 300px;
        }

        p {
            line-height: 1.2rem;

        }

        .image {
            overflow: hidden;
            width: 100%;
            height: 180px;
            border-radius: 5px;
            scale: 1;

            :hover {
                scale: 1.1;
                transition: 300ms ease-in;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 300ms ease-out;
        }

        a {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h3:hover {
                color: var(--main-color-green);
            }
        }
    }
}

/* Goksin code */
.footer {
    grid-template-rows: auto auto auto;
    
    a {
  
      h3,
      h4 {
        color: black;
      }
  
      color: rgb(79, 79, 79);
      text-decoration: none;
    }
  
    li,
    ul,
    body {
      margin: 0;
      list-style: none;
      padding: 0;
    }
  
    .footer-main {
      padding: 0 20px;
  
      .footer-row {
        display: grid;
        padding: 15px 0;
      }
  
      a:hover {
        color: rgb(86, 159, 140);
      }
    }
  
    .footer-column {
      display: grid;
      grid-template-rows: auto auto;
      color: black;
    }
  
    .dropdown ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
  
      a {
        color: #6d6d6d;
      }
    }
  
    #footer-first-row {
      padding-top: 40px;
      grid-template-columns: repeat(6, 1fr);
      border-block: 1px solid rgb(225, 220, 220);
      align-content: space-evenly;
    }
  
    #footer-second-row {
      padding-top: 40px;
      grid-template-columns: repeat(6, 1fr);
    }
  
    #footer-third-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #36a18b;
      color: white;
      height: 70px;
      font-size: 13px;
      padding: 0 20px;
      width: inherit;
  
      a {
        color: white;
        text-decoration: none;
        padding: 8px;
        border-radius: 0.5rem;
      }
  
      a:hover {
        background-color: rgba(255, 255, 255, 0.384);
        border-radius: 10px;
      }
  
      p {
        display: inline;
      }
  
      .bottom-footer-left,
      .bottom-footer-right {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }
  
      .bottom-footer-right {
        gap: 5px;
      }
  
      .bottom-footer-left a::after {
        content: "↗";
        /* adds the arrow after each link */
        margin-left: 5px;
        /* space between text and arrow */
      }
  
      .language-selector {
        display: flex;
        align-items: center;
      }
  
      .language-selector::before {
        content: "🇪🇺";
        /* globe icon for language */
        margin-right: 5px;
      }
    }
  
    .phone-column {
      grid-column: span 2;
      justify-items: center;
      text-align: center;
    }
  
    .app-store-links {
      display: flex;
      gap: 15px;
    }
  }
  
  @media (max-width: 836px) {
    .footer {
      display: flex;
      flex-direction: column;
  
      #footer-second-row {
        grid-template-columns: auto auto auto auto auto;
        justify-content: center;
      }
  
      .footer-main {
        padding: 0 20px;
      }
  
      .phone-column {
        display: grid;
        grid-area: span;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
  
      .footer-column ul {
        display: none;
      }
  
      .footer-column.open ul {
        display: block;
      }
  
      .footer-row {
        display: flex;
        flex-direction: column;
        padding: 0;
      }
  
      #footer-first-row {
        display: flex;
        flex-direction: column;
        border-block: none;
        margin-bottom: 20px;
      }
  
      .footer-column .dropdown {
        width: 100%;
        border: 0.7px solid #e9eef2;
        border-radius: 3px;
      }
  
      #footer-second-row {
        display: flex;
        flex-direction: column;
        padding: 0;
      }
  
      .dropdown li a {
        display: flex;
        font-size: 1.2rem;
        width: 100%;
        border-bottom: 0.3px solid #e9eef2;
        border-radius: 3px;
        padding: 20px 10px;
  
        h3,
        h4 {
          padding: 20px 10px;
          font-size: 1rem;
          margin: 0;
        }
      }
  
      .footer-column {
        display: flex;
        flex-direction: row;
  
        h3 {
          padding: 0 10px;
        }
      }
  
      .phone-column {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 25px;
        margin-top: 30px;
  
        h4,
        p {
          margin: 0;
          padding: 0;
        }
      }
  
      #footer-third-row {
        display: flex;
        height: 280px;
        justify-content: center;
        padding: 0 20px;
        align-items: flex-start;
  
        a {
          padding: 5px;
          margin: 0;
        }
  
        .bottom-footer-left,
        .bottom-footer-right {
          display: flex;
          flex-direction: column;
          height: 100%;
          align-items: flex-start;
          justify-content: center;
        }
      }
    }
  }